---
import { Image } from "astro:assets";

import catRyanGosling from "../images/CatRyanGosling.jpg";
import sickSpaceWalk from "../images/SickGuyWalkingInSpace.jpg";
import aFoolMoonNight from "../images/afoolmoonnight.jpg";
import me from "../images/me.jpg";
import quarrel from "../images/quarrel.jpg";
import machinegod from "../images/machinegod.jpg";
import aglasscat from "../a-glass-cat.jpg";

import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout title="Jonas | Images">
    <div class="w-full mb-3">
        <h1 class="pb-3 text-2xl underline">images</h1>
    </div>

    <Image src={aglasscat} alt="A glass cat" width="200" height="200" />
    <p>A glass cat</p>
    <Image src={machinegod} alt="Machine God" width="200" height="200" />
    <p>Machine god.</p>
    <Image src={catRyanGosling} alt="Cat Ryan Gosling" width="200" height="200" />
    <p>Here is a picture of a cat instead of Ryan Gosling in that one scene.</p>
    <Image src={me} alt="Me" width="200" height="200" />
    <p>This is a picture of me at Yosemite.</p>
    <Image src={sickSpaceWalk} alt="Space Walk" width="200" height="200" />
    <p>Here is a picture of a guy walking in space.</p>
    <Image src={aFoolMoonNight} alt="A Fool Moon Night" width="400" height="200" />
    <p>This is a good OSU map.</p>
    <Image src={quarrel} alt="Quarrel and Knight" width="400" height="200" />
    <p>Here is my favorite moment from a pretty good game.</p>

    <div class="text-right my-10 header">
        <a href="#">Back to top &#x2191;</a>
    </div>
</Layout>

<style>
    p {
        margin-bottom: 2rem !important;
    }
</style>
